body
{
    margin: 3px;
    border: 3px solid black;
}
.con
{
    display: inline-flex;
}
#container1
{
    width: 800px; 
    height: 350px;
}
#container2
{
    width: 700px; 
    height: 350px;
}
#container3
{
    width: 600px; 
    height: 350px;
}
#container4
{
    width: 400px; 
    height: 350px;
}
#container5
{
    width: 500px; 
    height: 350px;
}